{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<h1> {{ts.name}} </h1>

<form action="{% url 'kortest:answer_create' ts_name=ts.name %}" method="post">
{% csrf_token %}
    {% for item in ts.items.all %}
    <div>
        <p> [{{forloop.counter}}] {{item.name}}>  ---     {{item.qtext}} </p>
        <p> {{item.jimun}} </p>
        <label><input type="radio" name="{{item.name}}_answer" value="{{item.ch1}}"> {{item.ch1}} </label>
        <label><input type="radio" name="{{item.name}}_answer" value="{{item.ch2}}"> {{item.ch2}} </label>
        <label><input type="radio" name="{{item.name}}_answer" value="{{item.ch3}}"> {{item.ch3}} </label>
        <label><input type="radio" name="{{item.name}}_answer" value="{{item.ch4}}"> {{item.ch4}} </label>
    </div>
    {% endfor %}
    <input type="submit" value="답안 제출">
</form>